html{
    background-color: #E5E5E5;
}

body{
    position: relative;
    width: 1300px;
    height: 3655px;
    border: 1px solid #f1f1f1;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.sitenav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    margin: 0 auto;
    width: 1300px;
    height: 56px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.pixer_logo{
    width: 58.11px;
    height: 20px;
    margin: 18px 327px 18px 100px;
}
.pixer_logo:hover{
    opacity: 0.8;
    cursor: pointer;
}
.pixer_logo:active{
    opacity: 0.4;
}

.sitenav_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    width: 548px;
    height: 56px;
    margin: 0 8px 0 0;
    list-style: none;
}

#dropdown_item{
    position: relative;
    display: inline-block;
}
.dropdown_content{
    display: none;
    position: absolute;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 0px;
    position: absolute;
    left: -15px;
    top: 60px;
    width: 124px;
    height: 216px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.dropdown_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    gap: 5px;
    margin: 0;
    padding: 0;
}
.dropdown_item{
    height: 24px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 8px;
}
.dropdown_item:hover{
    background: #00BAFC;
    cursor: pointer;
    border-radius: 5px;
    color: #FFFFFF;
}
.dropdown_item:active{
    background: #00BAFC;
    opacity: 0.6;
}
#dropdown_item:hover .dropdown_content{
    display: block;
}
.sitenav_item a{
    text-decoration: none;
    color: #000000;
}
.sitenav_item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 16px;
}
.sitenav_item:hover{
    cursor: pointer;
    border-bottom: 3px solid black;
}
.sitenav_item:active{
    border: 1px solid black;
    background-color: rgba(25, 25, 25, 0.7);
    color: #FFFFFF;
}


.phone_number_div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 16px;
    width: 159px;
    height: 40px;
    background: #00BAFC;
    border-radius: 5px;
    padding: 0;
    margin: 8px 100px 8px 0;

    -webkit-transition: all 0.25s ease-in;

    -o-transition: all 0.25s ease-in;

    transition: all 0.25s ease-in;
}
.phone_number_div:hover{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #FFFFFF;
    border: 3px solid #00BAFC;
    border-radius: 5px;
    cursor: pointer;
}
.phone_number_div:active{
    border: 1px solid #00BAFC;
    background-color: rgba(0, 186, 252, 0.6);
}

.phone_number a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0;
    width: 150px;
    height: 24px;
    margin: 8px 10px;
    text-align: center;
    text-decoration: none;
}
.phone_number_div:hover .phone_number a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #00BAFC;
    padding: 0;
}
.phone_number_div:active .phone_number a{
    color: #FFFFFF;
    font-weight: 400;
}

.page_title_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 72px 0px;
    gap: 16px;
    width: 1300px;
    height: 284px;
    margin: 56px 0 0 0;
}
.page_title{
    width: 194px;
    height: 52px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #000000;
    margin: 0 auto;
}
.page_desc{
    width: 800px;
    height: 72px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin: 16px auto 0;
}

.services_inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 0px;
    width: 1300px;
    height: 2390px;
    background: #F4F4F4;
}
.services_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 40px;
}
.services_item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    padding: 32px;
    width: 804px;
    height: 378px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    list-style: none;
}
.services_pic{
    width: 200px;
    height: 128.21px;
    margin: 0;
}
.services_textbox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px;
    gap: 25px;
    width: 500px;
    height: 314px;
}
.textbox_title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    margin: 0;
}
.textbox_desc{
    width: 500px;
    height: 48px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}
.list_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.textbox_circle_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.textbox_circle_item{
    width: 12px;
    height: 12px;
    background: #00BAFC;
    border-radius: 12px;
    margin: auto;
    margin-right: 10px;
}
.textbox_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 350px;
    height: 152px;
    list-style: none;
}

.textbox_item{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.textbox_list_4{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px;
    gap: 17px;
    width: 350px;
    height: 152px;
    list-style: none;
}
.textbox_item_4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.list_box_2{
    width: 900px;
    height: 184px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px;
}
.textbox_circle_list_2{
    list-style: none;
    gap: 20px;
    padding: 0;
}
.textbox_circle_item_2{
    width: 12px;
    height: 12px;
    background: #00BAFC;
    border-radius: 12px;
    margin: 3px 10px 15px 0;
}

.textbox_list_2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px;
    gap: 9px;
    width: 500px;
    height: 184px;
    list-style: none;
}


.button_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    gap: 16px;
    width: 350px;
    height: 40px;
}
.button_1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 16px;
    gap: 10px;
    width: 170px;
    height: 40px;
    background: #00BAFC;
    border-radius: 5px;
    border: 1px solid #00BAFC;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.button_1:hover{
    cursor: pointer;
    background-color: rgba(0, 186, 252, 0.8);
}
.button_1:active{
    cursor: pointer;
    background: rgba(0, 186, 252, 0.6);
}

.button_link{
    width: 150px;
    height: 24px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #00BAFC;
}







.order_form{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1300px;
    height: 543px;
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 56px 100px;
    gap: 16px;
    background: #00BAFC;
}
.section_title{
    width: 203px;
    height: 31px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}
.section_desc{
    width: 719px;
    height: 48px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin: 8px auto 16px;
}
.form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 24px;
    width: 348px;
    height: 320px;
    background: #FFFFFF;
    border-radius: 5px;
    gap: 16px;
}
.form_input{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 16px;
    width: 300px;
    height: 56px;
    background: #F3F3F3;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
}
.form_number_input{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 16px;
    width: 300px;
    height: 56px;
    background: #F3F3F3;
    border-radius: 5px;
    border: 1px solid #f3f3f3;
}
.form_select{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 16px;
    width: 300px;
    height: 56px;
    background: #F3F3F3;
    border-radius: 5px;
    border: 1px solid #f3f3f3;
}

.form_btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 16px;
    gap: 10px;
    background: #00BAFC;
    border: 1px solid #00BAFC;
    border-radius: 5px;
    width: 167px;
    height: 40px; 
    margin: 16px auto 0;

    width: 170px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.form_btn:hover{
    cursor: pointer;
    background: rgba(0, 186, 252, 0.8);
}
.form_btn:active{
    cursor: pointer;
    background: rgba(0, 186, 252, 0.6);
}


.site_footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1300px;
    height: 338px;
    background: #191919;
}
.site_copy_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 320px;
    height: 162px;
    margin: 56px 0 0 100px;
}
.copy_box_title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0;
}
.copy_box_desc{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 16px 0 0 0;
}

.site_footer_nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 143px;
    height: 226px;
    margin: 56px 87px 0 100px;
}

.footer_nav_title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0;
}
.footer_nav_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    gap: 8px;
    margin: 0;
    padding: 0;
}
.footer_nav_item a{
    font-family: 'Open Sans';
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer_nav_item a:hover{
    cursor: pointer;
    color: #00BAFC;
}
.footer_nav_item a:active{
    cursor: pointer;
    color: #00BAFC;
    opacity: 0.6;
}

.socials{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 142px;
    height: 130px;
    margin: 56px 0 0 0;
}
.socials_title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0;
}
.socials_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    gap: 8px;
    margin: 0;
    padding: 0;
}
.socials_item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 24px;
}
.socials_item:hover{
    cursor: pointer;
}
.socials_item img{
    width: 22px;
    height: 23px;
    margin: 0 8px 0 0;
}
.socials_link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
}
.socials_link:hover{
    color: #00BAFC;
}
.socials_link:active{
    color: #00BAFC;
    opacity: 0.8;
}